.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  text-align: center;

  padding: 20px 0;
  background-color: #f8f7fba3;
  border-bottom: 1px solid #dbdbdb7e;

  backdrop-filter: blur(10px);
}
